@model VeritabaniKatmani.Takimlar

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title mb-3">Takım Detayı</strong>
        </div>
        <div class="card-body">
            <div class="mx-auto d-block">
                <img class="rounded-circle mx-auto d-block" src="~/Image/@Html.DisplayFor(model => model.Logo)" alt="Card image cap" />

                <h2 class="text-sm-center mt-2 mb-1"> @Html.DisplayFor(model => model.Adi)</h2>
                <div class="location text-sm-center"><i class="fa fa-sitemap"></i> @Html.DisplayFor(model => model.KategoriAdi)</div>
                <div class="location text-sm-center"><i class="fa fa-map-marker"></i> @Html.DisplayFor(model => model.Konum)</div>

            </div>
            <hr>
            <div class="card-text text-sm-center">
                @Html.ActionLink("Takımlar", "Index", "Takimlar", null, new { @class = "btn btn-primary btn-lg" })
            </div>
        </div>
    </div>
</div>
